```

 ___ ____   ____ _   _  _____        __
|_ _|  _ \ / ___| \ | |/ _ \ \      / /
 | || |_) | |   |  \| | | | \ \ /\ / / 
 | ||  _ <| |___| |\  | |_| |\ V  V /  
|___|_| \_\\____|_| \_|\___/  \_/\_/   
                                       
```

Heya This is a verification page for IRCNOW. 
(And also updates, and plans and manymore things)
this is Aeres on ircnow